/* line 1, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_placeholders.sass */
legend, button::-moz-focus-inner,
input::-moz-focus-inner, body, figure, button,
input,
select,
textarea {
  margin: 0; }

/* line 4, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_placeholders.sass */
legend, button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

/* line 11, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_placeholders.sass */
audio:not([controls]), [hidden] {
  display: none; }

/* line 1, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* line 15, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
audio,
canvas,
video {
  display: inline-block; }

/* line 20, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
audio:not([controls]) {
  height: 0; }

/* line 27, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 35, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
a:focus {
  outline: thin dotted; }

/* line 38, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
a:active,
a:hover {
  outline: 0; }

/* line 42, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
h1 {
  font-size: 2em; }

/* line 45, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 48, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
b,
strong {
  font-weight: bold; }

/* line 52, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
dfn {
  font-style: italic; }

/* line 55, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
mark {
  background: yellow;
  color: black; }

/* line 59, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 66, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
pre {
  white-space: pre-wrap; }

/* line 69, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 72, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
small {
  font-size: 80%; }

/* line 75, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 82, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
sup {
  top: -0.5em; }

/* line 85, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 88, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
img {
  border: 0; }

/* line 91, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 97, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 105, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

/* line 113, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
button,
input {
  line-height: normal; }

/* line 117, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 124, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 128, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; }

/* line 133, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 139, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 147, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 151, /Users/dankim/dropbox/web/starterleague/homework/preprocessor-framework/css/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
